body {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-family:sans-serif;
  font: Roboto;
  color:green 900;
  background-color:  rgb(199, 199, 199);
  
}



.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 10px;
}

.button:hover {
  background-color: #45a049;
}

#formulario-administrador,
    #formulario-comedor,
    #formulario-usuario,
    #formulario-ingresarCompras,
    #formulario-ingresarMenu {
      display: none;
    }

#comedor-image {
  margin-bottom: 20px;
  max-width: 400px;
  height: auto;
}

.navbar {
  margin-bottom: 40px;
  background-color: rgb(199, 199, 199);
  
}